# Ignore arquivos de sistema e IDE
**/.DS_Store
**/.vs
**/.vscode

# Ignore arquivos de ambiente virtual
**/.venv
**/venv
**/env

# Ignore cache do Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore arquivos de configuração local
**/.env
**/secrets.dev.yaml

# Ignore diretórios de dependências
**/node_modules

# Ignore arquivos do Git
**/.git
**/.gitignore

# Ignore arquivos de log
**/npm-debug.log


